CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=replace-with-a-local-jwt-secret
MONGODB_URI=mongodb://127.0.0.1:27017/devstinder
PORT=7777

AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=replace-with-your-access-key-id
AWS_SECRET_ACCESS_KEY=replace-with-your-secret-access-key
SES_FROM_ADDRESS=swayam@devs-tinder.in
SES_TO_ADDRESS=swayampal82@gmail.com
DISABLE_EMAILS=false
